/******************************** TABLE OF CONTENTS ********************************\

					1. CSS RESET.
					2. GENERAL.
					3. MAIN TYPOGRAPHY.
					4. HEADER.
					5. MAIN BODY DIV STYLING.
					6. FORMS.
					7. FOOTER.
					8. PLUGINS.

					SEARCH THE NUMBER WITH THE PREFIX OF '$' TO JUMP TO SECTIONS

/**********************************************************************************\

/* -- $1. CSS RESET. -- */
/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


/* -- $2. GENERAL. -- */
body{
	background-color: #f7f7f7;
	font-family: 'Asap', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 150%;
}

.container{
	width: 1200px;
	margin: 0 auto;
	padding: 10px 0;
}

/* -- $3. MAIN TYPOGRAPHY. -- */
h1{
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 1em;
	line-height: 150%;
	letter-spacing: 0;
	text-align: center;
	text-transform: uppercase;
	color: #f7f7f7;
	width: 400px;
	margin: 0 auto;
}

p{
	color: #1c2640;
	margin: 0 auto 20px;
}

p.message{
	width: 560px;
	margin: 10px auto 0px;
	text-align: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 0.7em;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #f7f7f7;
}


/* -- $4. HEADER. -- */
header{
	padding: 10px 0;
	background-color: #1c2640;
}

header p{
	font-size: 1em;
	text-align: center;
	color: #f7f7f7;
	width: 700px;
	margin-top: 10px;
}

/* -- $5. MAIN BODY DIV STYLING. -- */

/* -- $6. FORMS. -- */
form.calculator{
	width: 540px;
	margin: 20px auto;
	padding: 20px 0px;
	border: 1px solid #1c2640;
	border-radius: 5px;
}

div.content{
	width: 380px;
	margin: 0 auto;
}

.calculator label{
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	color: #1c2640;
	width: 380px;
	margin: 0 auto 10px;
	display: block;
}

label.pound{
	width: 20px;
	float: left;
	font-size: 1.5em;
	margin-right: 10px;
	margin-top: 2px;
}

.calculator input[type=text]#input-value{
	width: 338px;
	height: 30px;
	margin: 0px auto 10px;
	padding-left: 10px;
	background-color: #ffffff;
	border: 1px solid #1c2640;
	border-radius: 5px;
	text-align: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 0.8em;
	text-transform: uppercase;
	color: #1c2640;
}

::-webkit-input-placeholder {
   color: #1c2640;
   opacity: 0.3;
}

:-moz-placeholder { /* Firefox 18- */
   color: #1c2640;
   opacity: 0.3;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #1c2640;
   opacity: 0.3;
}

:-ms-input-placeholder {  
   color: #1c2640;
   opacity: 0.3; 
}

input:focus::-webkit-input-placeholder {
   color: #1c2640;
   opacity: 0;
}

input:focus:-moz-placeholder { /* Firefox 18- */
   color: #1c2640;
   opacity: 0;
}

input:focus::-moz-placeholder {  /* Firefox 19+ */
   color: #1c2640;
   opacity: 0;
}

input:focus:-ms-input-placeholder {  
   color: #1c2640;
   opacity: 0; 
}

input[type=submit]{
	width: 160px;
	height: 30px;
	margin: 20px 0px 20px;
	border: none;
	background: #1c2640;
	border-radius: 5px;
	text-align: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 0.7em;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #f7f7f7;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

input[type=submit]#exclude-vat{
	margin-left: 55px;
}

.calculator input[type=submit]:hover{
	height: 30px;
	border: 1px solid #1c2640;
	background: none;
	color: #1c2640;
	cursor: pointer;
}

.calculator p#final-price{
	width: 378px;
	text-align: center;
	border: solid 1px #1c2640;
	border-radius: 5px;
	padding: 20px 0px;
	background-color: #fff;
	font-size: 1.8em;
	float: left;
}

.calculator input#reset-button{
	width: 380px;
	height: 50px;
	border: none;
	background: #1c2640;
	border-radius: 5px;
	text-align: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 0.8em;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #f7f7f7;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.calculator input#reset-button:hover{
	width: 380px;
	border: 1px solid #1c2640;
	background: none;
	color: #1c2640;
	cursor: pointer;
}

.conversion{
	width: 300px;
	margin: 0 auto;
	overflow: hidden;
}


label.euro, label.yen, label.dollar{
	width: 20px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #ffffff;
	border: 1px solid #1c2640;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
}

p.currency{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 0;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #1c2640;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: none;
}

p.currency.yen{
	margin-right: 0;
}

/* -- $7. FOOTER. -- */
footer{
	background-color: #1c2640;
	padding: 50px 0 30px;
	margin: 50px 0px 0px;
}

footer p{
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 0.8em;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
	color: #f7f7f7;
	width: 100%;
}

footer a{
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid #f7f7f7;
}

footer a:hover{
	text-decoration: none;
	color: inherit;
}

footer a:visited{
	color: inherit;
	text-decoration: none;
}

/* -- $8. PLUGINS. -- */